<?xml version="1.0" encoding="UTF-8"?>
<menu>
	<expanded>Opended</expanded>
	<directory>
		<caption>功能点</caption>
		<expanded>Opened</expanded>
		<item>
			<permission>*</permission>
			<caption>首页</caption>
			<url>../../../homePageInit.action</url>
			<target>center</target>
		</item>
		<item>
			<permission>S</permission>
			<caption>人民币交易</caption>
			<url>../../../CNYPageInit.action</url>
			<target>center</target>
		</item>
		<item>
			<permission>S</permission>
			<caption>外币对交易</caption>
			<url>../../../foreignPageInit.action</url>
			<target>center</target>
		</item>
		<item>
			<permission>S</permission>
			<caption>保证金交易</caption>
			<url>../../../cashQueryInit.action</url>
			<target>center</target>
		</item>
		<item>
			<permission>*</permission>
			<caption>交易管理</caption>
			<url>../../../accountFlowPageInit.action</url>
			<target>center</target>
		</item>
		<item>
			<permission>T</permission>
			<caption>参数管理</caption>
			<url>../../../qryParamMngInit.action</url>
			<target>center</target>
		</item>
		<item>
			<permission>A</permission>
			<caption>新增老师</caption>
			<url>../../../teach.action</url>
			<target>center</target>
		</item>
		<item>
			<permission>T</permission>
			<caption>新增班级</caption>
			<url>../../../initClass.action</url>
			<target>center</target>
		</item>
		<item>
			<permission>A</permission>
			<caption>实训知识点维护</caption>
			<url>../../../initExamMng.action</url>
			<target>center</target>
		</item>
		<!--<item>
			<permission>T</permission>
			<caption>组卷</caption>
			<url>../../../testAssembly.action</url>
			<target>center</target>
		</item>
		<item>
			<permission>T</permission>
			<caption>收发卷</caption>
			<url>../../../testInit.action</url>
			<target>center</target>
		</item>
		<item>
			<permission>T</permission>
			<caption>计算成绩</caption>
			<url>../../../gradeInit.action</url>
			<target>center</target>
		</item>-->
		<!-- <item>
			<permission>1</permission>
			<caption>待处理交易(0)</caption>
			<url>../../../tradeMessageInit.action</url>
			<target>center</target>
		</item> -->
	</directory>
</menu>
