.u1{
    position:absolute;
    left:736px;
    top:3px;
    width:402px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}/* CSS Document */

.font1{

font-family:宋体;font-size:15px;font-weight:normal;font-style:normal;text-decoration:none;color:#6ab8df;
}

.font2{
font-family:Arial;font-size:13px;font-weight:bold;font-style:normal;text-decoration:none;color:#FFFFFF;
}

.font3{
font-family:Arial;font-size:16px;font-weight:normal;font-style:normal;text-decoration:none;color:#333333;
}

.font4{
font-family:宋体;font-size:12px;font-weight:normal;font-style:normal;text-decoration:none;color:#3a82ce;

}
.font5{
font-family:宋体;font-size:12px;font-weight:normal;font-style:normal;text-decoration:none;color:#999999;
}
.font6{
font-family:宋体;font-size:12px;font-weight:normal;font-style:normal;text-decoration:none;color:#333333;
}


/*stuLeftUp.jsp---style*/
.font7{
	font:'宋体';
	font-size:15px;
	color:#ffffff;
	font-weight:bold;
}
.font8{
	font-family:Arial;
	font-size:16px;
	font-weight:bold;
	font-style:normal;
	text-decoration:none;
	color:#333333;
}
.font9{
	font-family:Arial;
	font-size:13px;
	font-weight:normal;
	font-style:normal;
	text-decoration:none;
	color:#333333;
	
}
.font10{
	font-family:Arial;
	font-size:13px;
	font-weight:bold;
	font-style:normal;
	text-decoration:none;
	color:#333333;
}
.font11{
	font-family:Arial;
	font-size:13px;
	font-weight:normal;
	font-style:normal;
	text-decoration:none;
	color:#333333;
}
.font12{
	font-family:Arial;
	font-size:14px;
	font-weight:bold;
	font-style:normal;
	text-decoration:none;
	color:#333333;
}
.font13{
	font-family:Arial;
	font-size:14px;
	font-weight:normal;
	font-style:normal;
	text-decoration:none;
	color:#990000;
}
.font14{
	font-family:Arial;
	font-size:10px;
	font-weight:normal;
	font-style:normal;
	text-decoration:none;
	color:#0000FF;
}
.font15{
	font-family:Arial;
	font-size:14px;
	font-weight:normal;
	font-style:normal;
	text-decoration:none;
	color:#0000FF;
	
}
.font16{
font-family:宋体;
font-size:13px;
font-weight:normal;
font-style:normal;
text-decoration:none;
color:#333333;
}
.font17{
	font-family:Arial;
	font-size:14px;
	font-weight:normal;
	font-style:normal;
	text-decoration:none;
	color:#333333;
}
.font18{
	font-family:Arial;font-size:13px;font-weight:normal;font-style:normal;text-decoration:none;color:#000000;
}
.font19{
font-family:Arial;font-size:13px;font-weight:normal;font-style:normal;text-decoration:none;color:#FFFFFF;}	
	
.font20{
font-family:宋体;font-size:12px;font-weight:normal;font-style:normal;text-decoration:none;color:#4e4e4d;}
.font21{
font-family:Arial;font-size:12px;font-weight:normal;font-style:normal;text-decoration:none;color:#4e4e4d;}
.font22{
font-family:宋体;font-size:12px;font-weight:normal;font-style:normal;text-decoration:none;color:#000000;}	
	